*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100dvh;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
a {
  cursor: pointer;
}

button,
input,
textarea,
select {
  color: inherit;
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

/* Media responsive */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

thead,
tbody,
tfoot,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  vertical-align: middle;
}
