@import "/css/utility.css";
@import "/css/reset.css";

body {
  font-family: "Google Sans Flex", sans-serif;
  color: #424242;
  line-height: normal;
  font-size: 20px;
  font-weight: 500;
}

/* =========================
   Page Hero Section
========================= */

.page-hero {
  height: 471px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 220px;
}

@media (max-width: 750px) {
  .page-hero {
    padding-top: 218px;
    height: 424px;
  }
}

/* =========================
   Page Title
========================= */

.page-title {
  font-size: 72px;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 750px) {
  .page-title {
    font-size: 62px;
  }
}

/* =========================
   Breadcrumb
========================= */

.breadcrumb {
  display: flex;
  align-items: center;
  color: #c3c3c3;
}

@media (max-width: 750px) {
  .breadcrumb {
    display: none;
  }
}

.page-intro-description {
  max-width: 817px;
}

.page-intro {
  height: 760px;
  padding-top: 88px;
  padding-left: 218.25px;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  background: url("../assets/images/section2-main.png") no-repeat center/cover;

  @media (max-width: 750px) {
    padding-left: 60px;
    padding-right: 60px;
    font-size: 40px;
    height: 794px;
    background: url("../assets/images/tab-section2-main.png") no-repeat center/cover;
  }
}

.swiper-wrapper.product-slider-wrapper {
  height: 690px;
}

.product-title {
  font-size: 32px;
  margin-bottom: 10.12px;
  font-weight: 600;

  @media (max-width: 750px) {
    margin-bottom: 20px;
    font-size: 28px;
  }
}
.product-meta {
  margin-bottom: 56.08px;
}
.product-slider-section .swiper-slide {
  min-width: 450.97px;
  max-width: 450.97px;
  height: 540px !important;
  border-radius: 20px;
  border: 1px solid #004ea2;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;

  &:nth-child(4) {
    img {
      position: relative;
      top: -50px;
    }
  }

  & > *:first-child {
    margin-bottom: 38.49px;
  }

  & > *:nth-child(2) {
    margin-bottom: 10.12px;
  }

  &:last-child {
    position: relative;
  }

  &:last-child > img {
    position: absolute;

    &:first-child {
      top: 94px;
      left: 128px;
    }
    &:nth-child(2) {
      top: 114px;
      left: 220px;
    }
    &:nth-child(3) {
      top: 222.48px;
      left: 166.1px;
    }

    @media (max-width: 750px) {
      &:first-child {
        top: 84px;
        left: 118px;
      }
      &:nth-child(2) {
        top: 107.97px;
        left: 224.62px;
      }
      &:nth-child(3) {
        top: 228.48px;
        left: 170.1px;
      }
    }
  }
}

.product-slider-section .swiper-slide-active {
  border: 14px solid #004ea2;
  p {
    margin-bottom: 43.08px;
  }
}

.product-slider-section .swiper-button-prev svg,
.product-slider-section .swiper-button-next svg {
  display: none !important;
}

.product-slider-section .swiper-button-next,
.product-slider-section .swiper-button-prev {
  top: 95% !important;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid #c3c3c3;
  background: url("../assets/images/arrow-right-sm.svg") no-repeat center/contain;
}

.product-slider-section .swiper-button-prev {
  left: calc(50% - 100px) !important;
  transform: rotate(180deg);
}

.product-slider-section .swiper-button-next {
  right: calc(50% - 100px) !important;
}
.product-slider-section .swiper-pagination-fraction {
  top: 94% !important;
  font-size: 20px !important;
  font-weight: 500 !important;
}

.product-slider-section .swiper-pagination-current {
  color: #004ea2;
}

.product-slider-section {
  height: 1019px;
  padding-top: 130px;
}

.section04 {
  height: 971px;
  padding-top: 130px;

  @media (max-width: 750px) {
    height: 812px;
    padding-top: 105px;
  }

  h3 {
    text-align: center;
    font-size: 64px;
    margin-bottom: 28px;

    @media (max-width: 750px) {
      margin-bottom: 25px;
      font-size: 54px;
    }

    font-weight: 700;
  }

  p {
    @media (max-width: 750px) {
      margin-inline: auto;
      max-width: 630px;
      padding-inline: 30px;
    }

    font-size: 20px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 90px;
  }

  .card-wrapper {
    padding-inline: 89px;
    display: flex;
    justify-content: center;
    gap: 145.99px;

    @media (max-width: 750px) {
      gap: 55px;
      & > .card:nth-child(1) {
        min-width: 154px;
      }
      & > .card:nth-child(2) {
        min-width: 164px;
      }
      & > .card:nth-child(3) {
        min-width: 143px;
      }
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 184.5px;
    justify-content: end;
    align-items: center;
    gap: 14.1px;

    & span {
      font-size: 24px;
      color: #004ea2;
      font-weight: 600;
    }
  }
}

.section05 {
  padding-top: 130px;
  height: 657px;
  padding-inline: 40px;

  @media (max-width: 750px) {
    padding-inline: 60px;
  }

  h3 {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 50px;
  }

  table {
    font-size: 20px;
    @media (max-width: 750px) {
      font-size: 18px;
    }

    color: #000;
    width: 100%;
    max-width: 1500px;
    margin-inline: auto;
    text-align: center;
    thead > tr {
      color: inherit;
      background-color: #51d6ff1a;
      height: 70px;
      font-weight: 500;
    }

    thead {
      border-bottom: 1px solid #73b7ff;
      border-top: 2px solid #004ea2;
    }

    tbody {
      height: 229px;
      @media (max-width: 750px) {
        height: 234px;
      }
      border-bottom: 1px solid #73b7ff;
    }

    th:not(:last-child),
    td:not(:last-child) {
      border-right: 1px solid #73b7ff;
    }

    td > p {
      line-height: 29px;
    }
  }
}

.section06 {
  padding-top: 100px;
  padding-left: 210px;

  @media (max-width: 750px) {
    padding-left: 60px;
    padding-right: 60px;
  }

  height: 501px;
  background: url("../assets/images/section6-main.png") no-repeat center/cover;
  h3 {
    font-size: 48px;
    margin-bottom: 27px;
    @media (max-width: 750px) {
      font-size: 40px;
      margin-bottom: 25px;
    }

    font-weight: 600;
    line-height: 54px;
  }

  p {
    line-height: 29px;
    margin-bottom: 40.21px;
    @media (max-width: 750px) {
      margin-bottom: 40px;
    }
  }

  button {
    width: 143px;
    height: 57px;
    border-radius: 8px;
    background: #004ea2;
    color: white;
  }
}
