/* =========================
   HEADER
========================= */

/* header base */
.header {
  position: fixed;
  inset-inline: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: min(3vw, 80px);
  border-bottom: 1px solid #f0f0f0 !important;
  background-color: #ffffff24;
  backdrop-filter: blur(30px);
  z-index: 1000;
  height: 100px;
  transition:
    transform 0.35s ease,
    background-color 0.35s ease,
    color 0.35s ease,
    opacity 0.35s ease;
  transform: translateY(0);
  color: white;

  @media (max-width: 750px) {
    align-items: start;
    padding-inline: 60px;
    padding-top: 50px;
    background-color: transparent;
    backdrop-filter: none;
    border-bottom: 1px solid transparent !important;
    box-shadow: none;
  }
}

/* header states */
.header.is-hidden {
  transform: translateY(-100%);
  opacity: 0;
  transition:
    transform 0.35s ease 0.5s,
    background-color 0.35s ease 0.5s,
    color 0.35s ease 0.5s,
    opacity 0.35s ease 0.5s;
}

.header.color {
  color: #424242;
  .header-logo > a::after {
    background: url("/assets/images/logo-color.svg") no-repeat center / contain;
  }
}

/* header logo */
.header-logo a::after {
  content: "";
  display: block;
  width: 211px;
  height: 35px;
  background: url("/assets/images/logo.svg") no-repeat center / contain;
}

/* header nav container */
.header-nav {
  height: 100%;
  cursor: pointer;
  @media (max-width: 750px) {
    display: none;
  }
}

/* nav list / item */
.nav-list {
  display: flex;
  height: 100%;
  font-size: min(1.5vw, 20px);
  font-weight: 700;

  @media (max-width: 750px) {
    font-size: 20px;
  }
}

.nav-item {
  padding-left: min(3vw, 20px);
  padding-right: min(3vw, 52px);
  padding-top: 38px;
  height: 100%;
}

.nav-item:hover {
  color: #51d6ff;
}

/* header utils */
.header-utils {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;

  & > div:last-child {
    width: 24px;
    height: 24px;
  }
}

.hamburger-button {
  @media (min-width: 751px) {
    pointer-events: none;
  }
}

/* mega menu base */
.mega-menu {
  transition: max-height 0.35s ease-in-out;
  color: #424242;
  position: absolute;
  top: 100%;
  z-index: 1000;
  inset-inline: 0;
  max-height: 0;
  overflow: hidden;
  background-color: white;
  border-top: 1px solid #f0f0f0;

  @media (max-width: 750px) {
    border-top: none;
  }
}

.mega-menu-inner {
  display: flex;
  justify-content: center;
}

.mega-menu-column {
  max-width: 290px;
  width: 100%;
  padding: 40px;
  border-left: 1px solid #f0f0f0;
}

.mega-menu-column:last-child {
  border-right: 1px solid #f0f0f0;
}

.mega-menu-column > li {
  max-width: 290px;
  flex-grow: 1;
  font-size: 20px;
}

.mega-menu-column > li:first-child {
  margin-bottom: 22px;
  font-weight: 700;
}

.mega-menu-column > li:not(:first-child) {
  margin-bottom: 18px;
  font-weight: 500;
}

.mega-menu-column > li:hover {
  color: #51d6ff;
}

.mega-menu-column:hover .menu-title {
  color: #51d6ff;
}

/* mega menu open interactions */
.header:has(.header-nav:hover),
.header:has(.mega-menu:hover) {
  background: white;
  color: black;
  border-color: #000;
}

.header:has(.header-nav:hover) .header-logo a::after,
.header:has(.mega-menu:hover) .header-logo a::after {
  background: url("/assets/images/logo-color.svg") no-repeat center / contain;
}

.header:has(.header-nav:hover) > .mega-menu {
  max-height: 325px;
}

.mega-menu:hover {
  max-height: 325px;
}

/* nav <-> mega menu highlight mapping */
.header:has(.nav-item:nth-child(1):hover) .mega-menu-column:nth-child(1) > li:first-child {
  color: #51d6ff;
}

.header:has(.nav-item:nth-child(2):hover) .mega-menu-column:nth-child(2) > li:first-child {
  color: #51d6ff;
}

.header:has(.nav-item:nth-child(3):hover) .mega-menu-column:nth-child(3) > li:first-child {
  color: #51d6ff;
}

.header:has(.nav-item:nth-child(4):hover) .mega-menu-column:nth-child(4) > li:first-child {
  color: #51d6ff;
}

.header:has(.nav-item:nth-child(5):hover) .mega-menu-column:nth-child(5) > li:first-child {
  color: #51d6ff;
}

.header:has(.mega-menu-column:nth-child(1):hover) .nav-item:nth-child(1) a {
  color: #51d6ff;
}

/* 2 */
.header:has(.mega-menu-column:nth-child(2):hover) .nav-item:nth-child(2) a {
  color: #51d6ff;
}

/* 3 */
.header:has(.mega-menu-column:nth-child(3):hover) .nav-item:nth-child(3) a {
  color: #51d6ff;
}

/* 4 */
.header:has(.mega-menu-column:nth-child(4):hover) .nav-item:nth-child(4) a {
  color: #51d6ff;
}

/* 5 */
.header:has(.mega-menu-column:nth-child(5):hover) .nav-item:nth-child(5) a {
  color: #51d6ff;
}

/* =========================
   MOBILE MENU
========================= */

.mobile-menu {
  color: #424242;
  inset: 0;
  z-index: 10;
  padding-top: 50px;
  padding-inline: 60px;
  display: none;
  justify-content: space-between;
  height: 100dvh;
  background-color: white;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

.mobile-menu.is-opened {
  @media (max-width: 750px) {
    display: block;
    position: fixed;
    pointer-events: auto;
  }
}

.mobile-menu-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.mobile-menu-actions {
  display: flex;
  align-items: center;
  height: 35px;
  gap: 15px;
}

.mobile-nav {
  font-size: 46px;
  font-weight: 700;
  line-height: 100%;
  height: calc(100dvh - 150px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: 50px;
  padding-bottom: 50px;
}

.mobile-nav-item:not(:last-child) {
  margin-bottom: 16px;
}

.mobile-nav-item.is-active {
  color: #51d6ff;

  &:not(last-child) {
    margin-bottom: 60px;
  }
}

.mobile-nav-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
}

.mobile-sub-nav {
  font-size: 28px;
  overflow: hidden;
  margin-top: 30px;
  font-weight: 400;
  max-height: 0px;
  opacity: 0;
  transition:
    max-height 0.35s ease,
    opacity 0.2s ease;
  & > li:first-child {
    font-weight: 700;
    margin-left: 30px;
  }

  & > li:not(:first-child) {
    margin-left: 55px;
  }

  & > li:not(:last-child) {
    margin-bottom: 20px;
  }
}

.mobile-nav-item.is-active > .mobile-sub-nav {
  max-height: 376px;
  opacity: 1;
  color: #424242;
}

/* =========================
   FOOTER
========================= */

.footer {
  position: relative;
  padding-top: 60px;
  height: 400px;
  background: #00173a;
  color: white;
  @media (max-width: 750px) {
    padding-top: 80px;
    height: 657px;
  }
}

.scroll-up {
  position: absolute;
  top: -109px;
  right: 120px;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background: #004ea2;
  cursor: pointer;

  @media (max-width: 750px) {
    right: 60px;
  }
}

.footer-top {
  font-size: 20px;
  line-height: 32px;
  color: #d9d9d9;
  margin-bottom: 63px;
  padding-inline: 120px;

  @media (max-width: 750px) {
    padding-inline: 67px;
    margin-bottom: 80px;
  }
}

.footer-policy-list {
  display: flex;
  font-weight: 600;
  font-size: 20px;
  white-space: nowrap;
  @media (max-width: 750px) {
    font-size: 24px;
  }
}

.footer-policy-item:not(:last-child) {
  margin-right: 25px;
  @media (max-width: 750px) {
    margin-right: 20px;
  }
}

.footer-policy-item:not(:last-child)::after {
  content: "|";
  margin-left: 25px;
  @media (max-width: 750px) {
    margin-left: 20px;
  }
}

.footer-family-button {
  font-weight: 500;
  padding-block: 9px;
  padding-inline: 20px;
  border-radius: 28px;
  border: 1px solid #d9d9d9;
  gap: 16px;
  width: 178px;
  height: 56px;
}

.footer-top .footer-family-button {
  display: flex;
  @media (max-width: 750px) {
    display: none;
  }
}

.footer-address,
.footer-tel {
  @media (min-width: 751px) {
    line-height: 32px;
  }
}

.footer-contact {
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 63px;
  padding-inline: 120px;

  @media (max-width: 750px) {
    gap: 31px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-top: none;
    display: none;
    padding-inline: 67px;
  }
}

.footer-mobile-info {
  display: none;
  font-size: 20px;
  line-height: 32px;
  color: #d9d9d9;
  margin-bottom: 63px;
  padding-inline: 67px;
  @media (max-width: 750px) {
    display: block;
  }

  & > div {
    display: flex;
  }

  h4 {
    font-size: 24px;
    font-weight: 600;
    list-style: 32px;
  }
}

.footer-mobile-address:not(:last-child) {
  margin-bottom: 15px;
}

.footer-mobile-tel {
  margin-bottom: 15px;
}

.footer-mobile-fax {
  margin-bottom: 50px;
}

.footer-mobile-info .footer-family-button {
  display: none;
  @media (max-width: 750px) {
    display: flex;
  }
}

.footer-bottom {
  padding-inline: 120px;
  @media (max-width: 750px) {
    padding-inline: 67px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer-bottom {
  border-top: 1px solid #f0f0f0;
  align-items: center;
  display: flex;
  height: 90px;
  justify-content: space-between;
}
